Repository Bapull/project_CodingSupporter-react-deployment-repo, pull requests merged in 2024-10, with the labels that each got.

#2 [BUILD] 프로젝트의 초기 파일 빌드
  src/App.css
  src/App.tsx
  src/components/HeadTitle.tsx
  src/components/Navbar.tsx
  src/components/styles/headTitle.css
  src/components/styles/navbar.css
  src/pages/Feedback.tsx
  src/pages/Folder.tsx
  src/pages/Home.tsx
  src/pages/MenTChat.tsx
  src/pages/Setting.tsx
  src/pages/User.tsx
  src/styles/feedback.css
  src/styles/folder.css
  src/styles/home.css
  src/styles/menTChat.css
  src/styles/setting.css
  src/styles/user.tsx
Labels: 🎨 Html & Css, :hammer: Build

#7 [FEATURE] 네비바 컴포넌트와 각 페이지에 Head Title을 추가
  public/images/Chat.png
  public/images/Folder.png
  public/images/Setting.png
  public/images/User.png
  public/vite.svg
  src/components/HeadTitle.tsx
  src/components/Navbar.tsx
  src/components/styles/headTitle.css
  src/components/styles/navbar.css
Labels: ⭐ Feature, 🎨 Html & Css

#9 Feature/login
  src/App.css
  src/App.tsx
  src/components/HeadTitle.tsx
  src/components/Navbar.tsx
  src/components/styles/headTitle.css
  src/components/styles/navbar.css
  src/pages/Feedback.tsx
  src/pages/Folder.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/MenTChat.tsx
  src/pages/Setting.tsx
  src/pages/User.tsx
  src/styles/login.css
Labels: ⭐ Feature

#11 Feature/login
  .github/ISSUE_TEMPLATE/✨-feature-request.md
  .github/ISSUE_TEMPLATE/🐛-bug-report.md
  .github/ISSUE_TEMPLATE/👍🏻-enhancement.md
  .github/ISSUE_TEMPLATE/🤔-etc-template.md
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  README.md
  eslint.config.js
  index.html
  package-lock.json
  package.json
  public/images/Chat.png
  public/images/Folder.png
  public/images/Setting.png
  public/images/User.png
  src/App.css
  src/App.tsx
  src/components/HeadTitle.tsx
  src/components/Navbar.tsx
  src/components/styles/headTitle.css
  src/components/styles/navbar.css
  src/index.css
  src/main.tsx
  src/pages/Feedback.tsx
  src/pages/Folder.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/MenTChat.tsx
  src/pages/Setting.tsx
  src/pages/User.tsx
  src/styles/feedback.css
  src/styles/folder.css
  src/styles/home.css
  src/styles/login.css
  src/styles/menTChat.css
  src/styles/setting.css
  src/styles/user.css
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.app.tsbuildinfo
  tsconfig.json
  tsconfig.node.json
  tsconfig.node.tsbuildinfo
  vite.config.ts
Labels: ⭐ Feature

#14 ✅ test: generate Api test page : /user-test
  src/App.tsx
  src/pages/User.tsx
  src/test/UserTest.tsx
Labels: ✅ Test

#18 Bugfix/login
  package-lock.json
  package.json
  public/images/web_neutral_rd_ctn.svg
  src/App.css
  src/App.tsx
  src/components/HeadTitle.tsx
  src/components/styles/headTitle.css
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Login.tsx
  src/pages/User.tsx
  src/redux/localStorageMiddleware.tsx
  src/redux/sessionStorageMiddleware.tsx
  src/redux/store.tsx
  src/redux/userSlice.tsx
  src/styles/login.css
  src/styles/user.css
Labels: ⭐ Feature, 🎨 Html & Css

#20 [FEATURE] Setting Page (1)
  src/App.tsx
  src/pages/Home.tsx
  src/pages/Setting.tsx
  src/pages/Settings.tsx
  src/settings/AccountSettings.tsx
  src/settings/ContactInfo.tsx
  src/settings/Help.tsx
  src/settings/Notification.tsx
  src/settings/PrivacyPolicy.tsx
  src/settings/VersionInfo.tsx
  src/styles/home.css
  src/styles/setting.css
  src/styles/settings.css
Labels: 🐛 BugFix, ⭐ Feature, 🎨 Html & Css

#23 ✅ test: incorrect-note/generate
  package-lock.json
  src/App.tsx
  src/test/UserTest.tsx
Labels: 🐛 BugFix, ✅ Test

#26 ✅ test: Add tests for incorrect-note/s3 endpoint in usertext.jsx
  src/test/UserTest.tsx
Labels: ✅ Test

#28 GihubActions CICD 통한 배포 기능 추가
  .github/workflows/main.yml
  .gitignore
  Dockerfile
Labels: 🚀 Deploy, ⭐ Feature, :hammer: Build

#30 Docker Deploy 환경 설정 변경
  .github/workflows/main.yml
  Dockerfile
Labels: 🐛 BugFix, 🚀 Deploy

#31 🐛 fix: Remove yarn.lock file and fix yarn install command
  Dockerfile
Labels: 🐛 BugFix, 🚀 Deploy

#32 도커파일에서 패키지 관리자를 yarn에서 npm으로 변경
  Dockerfile
Labels: 🐛 BugFix, 🚀 Deploy

#34 🐛 fix: store err delete
  src/redux/store.tsx
Labels: 🐛 BugFix
